{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--- protects against CSRF attack -->

        {{ form.user.label() }}
        {{ form.user() }}
        {{ form.password.label() }}
        {{ form.password() }}
        {{ form.password_confirm.label() }}
        {{ form.password_confirm() }}

        {{ form.submit_btn(class="btn") }}  <!-- apply classes like this -->
    </form>
    <div>
        Already have an account? <a href="{{ url_for('login') }}">Log In Instead</a>  
        <!--- login refers to route function name, not the route url "/login" -->
    </div>

{% endblock content %}
