{% extends 'base.html' %}

{% block head %}

<title>Home Page</title>

{% endblock %}


{% block content %}

<!-- displays flash text with second argument "success" -->
<!-- move to different page if register/login redirect is no longer index -->
{% with messages=get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert-{{ category }}">  <!-- alert-sucess is a bootstrap feature -->
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h3>We are inheriting from the base html template!</h3>

<a href="{{ url_for('register') }}">Register for an account</a>
<a href="{{ url_for('login') }}">Have an account? Log in</a>

{% endblock %}