{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--- protects against CSRF attack -->

        {{ form.user.label() }}
        {{ form.user() }}
        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.submit_btn(class="btn") }}  <!-- apply classes like this -->
    </form>
    <div>
        Don't have an account? <a href="{{ url_for('register') }}">Register Instead</a>  
        
    </div>

{% endblock content %}